h1{
  color: white;
}
h2{
  color: black;
  float:right;

}
h3{
  color: : black;
  float:right;
}
.menu2{
  height:30px;
  border-width:20px;
  background-color: none;
  }
.fonction {
  height:50px;
  border-width:50px;
  background-color: black;
  color: white;
  font-size: 16px;
}
body {
  width : auto;
  margin : auto;
color:black;
background-color: black;
}
.page{
  width : auto;
  margin : auto;
  font-size : 16px;
  font-family : 'Source sans Pro', Calibri, Tahoma, sans-serif;
  background-image: url(./ransom-recap.jpg);
  overflow: hidden;
  border-radius:800px;
  width:500px;
  height:700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.roundedImage{
    overflow: hidden;
    border-radius:100px;
    width:150px;
    height:150px;
}
.topnav{
width: 400px;
margin-left: auto;
  background-color: yellow;
}
.menu1{
  float: ;
  background-color: black;
  color: White;
  font-weight: bolder;
  margin-top: auto;
}
.images_petit {
width:50px;
height:50px;
}
